[Unit]
Description=RustDesk
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/lib/neutrino_agent/rustdesk/rustdesk --service
Restart=on-failure
RestartSec=10
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
