/*
 * Self-hosted fonts, bundled so the panel never reaches out to a font CDN — it
 * runs on a gateway that may be the only thing between the LAN and a censored
 * network. Inter for prose, JetBrains Mono for every number, address and tag,
 * both SIL Open Font License. MesloLGS NF, Apache-2.0, for the terminal: it
 * carries the Nerd Font icons a powerlevel10k prompt draws. `swap` shows the
 * fallback stack until each face loads.
 */

@font-face {
  font-family: "MesloLGS NF";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/MesloLGSNF-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MesloLGS NF";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/MesloLGSNF-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Inter-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}
