[Unit]
Description=NetBird daemon of the Neutrino client
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/neutrino/client/netbird/netbird service run --config /var/lib/neutrino/client/netbird/config.json --log-file console
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
